version: "3.9"

services:

  mysql:

    image: mysql:8.0

    restart: always

    environment:

      MYSQL_DATABASE: testdb

      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password

    ports:

      - "3306:3306"

    volumes:

      - mysql-data:/var/lib/mysql

    secrets:

      - mysql_root_password

  app:

    build: .

    ports:

      - "8082:8080"

    depends_on:

      - mysql

    # Security Hardening

    security_opt:

      - no-new-privileges:true

    cap_drop:

      - ALL

    read_only: true

    # Optional but good practice

    deploy:

      resources:

        limits:

          cpus: "0.50"

          memory: 512M

volumes:

  mysql-data:

secrets:

  mysql_root_password:

    file: ./mysql_root_password.txt
