version: "3.9"

services:
 mysql:
  image: mysql:8.0
  container_name: mysql-container
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: testdb
  ports:
    - "3306:3306"
  volumes:
    - mysql-data:/var/lib/mysql

 app:
   build: .
   container_name: java-app-container
   ports:
     - "8082:8080"
   depends_on:
     - mysql

volumes:
  mysql-data:
